.contact{
    padding: 2.5rem 2rem 0.5rem 2rem;
}

.title{
    color:  #4803c9;;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 3rem;
    letter-spacing: 4px;
}

.contactContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.contactWrapper{
    position: relative;
    margin: 50px 0 30px;
}

.contactItems{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.contactItemContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:#d33175;
    margin: 20px 30px 30px 20px;
    width: 250px;
    align-items: stretch;
    flex-direction: column;
    border-radius: 20px;
}

.contactItem {
    background: rgba(255, 255, 255, 0.89);
    display: block;
    margin:  1rem;
    border: 2px solid #4803c9;
    color: black;
    font-size: 1rem; 
    line-height: 20px; 
    width: 100%;
    height: 300px;
    padding: 14px;
    flex-flow: column;
    text-align: center;
    position: relative;
    border-radius: 20px;
}

.icon{
    font-size: 2.5rem;
    margin: 20px 20px 30px;
    color: #4803c9;
}

.phoneContainer{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phone{
    font-weight: bold;
    margin: 25px 10px;
    font-size: 1.3rem;
}

.mailContainer{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mail{
    font-weight: bold;
    margin: 25px 10px;
    font-size: 1rem;
}

.socialMedia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width: 1300px) {
    .contact{
        padding: 8rem 3rem 1rem 3rem;
    }
}

@media screen and (max-width: 1200px){
    .contact{
        padding: 7rem 3rem 1rem 3rem;
    } 
}

@media screen and (max-width: 700px) {
    .contact{
        padding: 5rem 3rem 1rem 3rem;
    } 
}

@media screen and (max-width: 500px) {
    .contact{
        padding: 3rem;
    } 
}
 
@media screen and (max-width: 400px) {
    .contact{
        padding: 2rem;
    }  
}
 