.opinions{
    padding: 2.5rem 2rem 0.5rem 2rem;
}

.titleOpinion{
    color:  #4803c9;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 3rem;
    letter-spacing: 4px;
}
#description{
    height: 120px;
    width: 200px;
}

.newOpinion{
    margin: 10px 0 20px;

}

.opinionsContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.opinionsWrapper{
    position: relative;
    margin: 50px 0 30px;
}

.opinionItems{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.contactContainerImage{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 30px 30px 20px;
    width: 250px;
    align-items: stretch;
    flex-direction: column;
    border-radius: 20px;
}

.imgContainerOpinion{
    display: flex;
}
        
.imgContainerOpinion> img {
    width: 110%;
}
    
.opinionContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:#d33175;
    margin: 0 30px 30px 20px;
    width: 250px;
    align-items: stretch;
    flex-direction: column;
    border-radius: 20px ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.opinionItem {
    background: rgba(255, 255, 255, 0.89);
    display: flex;
    margin:  1rem;
    border: 2px solid #4803c9;
    color: black;
    font-size: 1rem; 
    line-height: 20px; 
    width: 100%;
    padding: 14px 5px;
    flex-flow: column;
    text-align: center;
    position: relative;
    font-weight: bold;
    border-radius: 20px ;
    height: 250px;
}

.quote{
    font-size: 2.3rem;
    margin: 0 10px 10px;
    color: #4803c9;
}

.opinionText{
    font-size: 0.8rem;
    word-wrap: break-word;
}

.name{

    font-weight: bold;
    margin-top:30px;
    font-size: 1rem;
    position: absolute;
    bottom: 10px;
    left: 97px;
    color: #4803c9;
}

@media screen and (max-width: 1300px) {
    .opinions{
        padding: 8rem 3rem 1rem 3rem;
    }
}

@media screen and (max-width: 1200px){
    .opinions{
        padding: 7rem 3rem 1rem 3rem;
    } 
}

@media screen and (max-width: 700px) {
    .opinions{
        padding: 5rem 3rem 1rem 3rem;
    } 
}

@media screen and (max-width: 500px) {
    .opinions{
        padding: 3rem;
    } 
}
 
@media screen and (max-width: 400px) {
    .opinions{
        padding: 2rem;
    }  
}
 