.price{
    padding: 2.5rem 2rem 0.5rem 2rem;
}

.titlePrice{
    color:  #4803c9;;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 3rem;
    letter-spacing: 4px;
}

.pricesContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.priceWrapper{
    position: relative;
    margin: 50px 0 30px;
}

.priceItems{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.priceContainerImage{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 30px 30px 20px;
    width: 250px;
    align-items: stretch;
    flex-direction: column;
    border-radius: 20px;
}

.imgContainer{
    display: flex;
}
    
.imgContainerPrice> img {
    width: 120%;
}

.priceContainer{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:#d33175;
    margin: 0 30px 20px 20px;
    width: 250px;
    align-items: stretch;
    flex-direction: column;
    border-radius: 20px ;
}

.priceItem {
    background: rgba(255, 255, 255, 0.89);
    display: block;
    margin:  1rem;
    border: 2px solid #4803c9;
    color: black;
    font-size: 1rem; 
    line-height: 20px; 
    width: 100%;
    padding: 14px;
    flex-flow: column;
    text-align: center;
    position: relative;
    border-radius: 20px ;
}

.cardImg{
    font-size: 2.5rem;
    margin: 20px 20px 30px;
    color: #4803c9;
}

.money{
    font-size: 2rem;
    margin: 30px 20px 30px;
    font-weight: 700; 
}

.info {
    font-size: 0.8rem;
    margin-top: 30px;
}

.infoDate{
    font-size: 1.2rem;
    margin-top: 15px;
    font-weight: 700;
}

.buttonContainerPrice{
    display: flex;
    font-weight: bold;
    margin-bottom:10px;
    margin-top:16px;
    font-size: 1rem;
    justify-content: center;
}

@media screen and (max-width: 1300px) {
    .price{
        padding: 8rem 3rem 1rem 3rem;
    }
}

@media screen and (max-width: 1200px){
    .price{
        padding: 7rem 3rem 1rem 3rem;
    } 
}

@media screen and (max-width: 700px) {
    .price{
        padding: 5rem 3rem 1rem 3rem;
    } 
}

@media screen and (max-width: 500px) {
    .price{
        padding: 3rem;
    } 
}
 
@media screen and (max-width: 400px) {
    .price{
        padding: 2rem;
    }  
}