.hero-wrapper{
    padding: 1rem 2rem 1rem 2rem; ;
    display: flex;
    margin: 20px 20px 10px 20px
}

.hero-continer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.hero-title{
    position: relative;
}

.hero-title>h1{
    color: #000;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    line-height:4rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 5px;
}

.more-info-button {
    position: relative;
    margin-top: 3rem;
    display: flex;
    background: transparent;
    flex-shrink: 0;
    color: #000;
    font-weight: bold;
    justify-content: center
}

.additional-text{
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2.5rem;
}

.first-line-text{
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    padding: 20px 0 0 0;
    color: #000;
}

.other-line-text{
    padding: auto;
    color: #000;
}

.tick{
    margin: 0 2px 0 8px;
    padding: 0 0 0 2px ;
    width: 15px;
    height: 15px;
}

.svg-inline--fa.fa-check{
margin-right: 8px;
font-size: 1.1rem;
}
    
.hero-right{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 0 auto;
}

.hero-right> img{
    position: relative; 
    height: 450px; 
    border: #000 2px solid;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    display:flex;
    margin-left: 50px;
}

@media screen and (min-width: 1500px) {
    .hero-right{
        align-items: flex-start
    }

    .hero-right> img{
        position: relative; 
        border: #000 3px solid;
        box-shadow: 0 10px 10px rgba(0,0,0,0.5);
        display:flex; 
    }
 
    .flexColStart{    
        align-items: stretch;
        align-content: space-around;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1300px) {
    .hero-wrapper{
        margin: 100px 20px 10px 20px
    } 
}

 @media screen and (max-width: 1000px){
    .hero-wrapper{
        padding: 1rem 2rem 1rem 2rem; ;
        display: block;
        margin: 70px 20px 10px 20px
    }

    .hero-right{
        margin: 50px auto 10px;
    }
}
