.sidebarNavLinkUser {
    display: block;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 3px 14px;
    column-gap: 12px;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    font-size: 13px;
    transition: var(--trasition-default);
    
}

.sidebarNavLinkUser:active{
    color: rgb(212, 164, 231);
   
}

.sidebarNavLinkUser:hover{
    border-bottom: 1px solid black; ;
    background-color: rgb(80, 4, 143);
    accent-color: black;
    
}
.sidebarNavLinkTextUser{
    color: rgb(193, 203, 212);
   
}

/* .sidebarNavigationLesson{
    margin-top: 10px;
    height: 900px;
    overflow-y: scroll;
}

.sidebarNavigationLesson::-webkit-scrollbar{
    width: 5px;
}

.sidebarNavigationLesson::-webkit-scrollbar-thumb{
    background-color: rgb(193, 203, 212);
    border-radius: 18px;
    size: 30px;
    
} */

.sidebarNavigationLessons{
    margin-top: 10px;
    height: 150px;
    overflow-y: scroll;
}

.sidebarNavigationLessons::-webkit-scrollbar{
    width: 5px;
  
}

.sidebarNavigationLessons::-webkit-scrollbar-thumb{
    background-color: rgb(193, 203, 212);
    border-radius: 18px;
    size: 20px;
    
}


.sidebarNavigationLessons::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 18px;
}

#caretDown, #caretUp{
   margin-left: 50px;
   display: none;
}

.textLesson{
    padding: 20px;
    margin: 3rem 5rem 1.5rem 15.5rem;
    display: flex;
    text-align: justify;
    letter-spacing: 0.5px;
    flex-direction: column;
}

.mathematicalCard{
    padding: 5px;
    font-weight: bold;
}

.firstPartLessons{
    margin-bottom: 20px;
}

.learnSteps{
    padding: 10px 0;
}

span.number{
    font-weight: bold;
    color: #551A8B;
}

.contactContainerImageGoal{
  display: grid;
  justify-items: end;
  margin-top: -150px;
}


.nameOfLesson{
    border-bottom: 1px solid black; 
    background-color: rgb(80, 4, 143);
    accent-color: black;
    border-radius: 8px;
    align-items: center;
    padding: 3px 14px;
   margin-right: 10px;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: bold;
    color: white;

    
}

.lessonStructure{
    padding: 5px;
    display: block;
    margin-left: 15.5rem;
    margin-right: 3rem;
    margin-top: 2rem;
    /* border: 1px solid #551A8B; */

}
.navigationLesson{
    display: flex;
    flex-wrap: wrap;
}

span.nameOfNav{
    margin:  7px 10px 7px 0;
    display: block;
}

.nameOfNav{
    margin: 10px;
    border-bottom: 1px solid black; 
    background-color: rgb(80, 4, 143);
    accent-color: black;
    border-radius: 8px;
    align-items: center;
    padding: 3px 14px;
    column-gap: 12px;
    letter-spacing: 0.03em;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255)

}

.nameOfNav:hover{
    cursor: pointer;
}

.lessonBody{
padding: 5px;
margin: 15px;
display: flex;
text-align: justify;
letter-spacing: 0.5px;
flex-direction: column;
}

.lessonFooter{
    display: flex;
}

#caretLeft{
    margin-right: 8px;
}

#caretRight{
    margin-left: 8px;
}

.titleOfTypeNumer{
    font-weight: bolder;
    padding: 0 0 5px 0;
}

.typeOfNumber{
    border: 1px solid black;
    margin: 3px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.numbersPicture{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.logFunction{
    margin-top: 10px;
  
}
.divLogPic{
    display: flex;
    justify-content: center;

}
.divLogDef{
    display: flex;
    justify-content: center;
  

    margin: 15px 0;
}



.logPic{
    width: 220px;
    height: 150px;
    margin: 15px 0;
}


@media  screen and (max-width: 1100px) {
.sidebarNavigationLessons{
    margin-top: 5px;
    height: 50px;
  
}
}
@media  screen and (max-width: 1000px) {
    .sidebarNavigationLessons{
        margin-top: 5px;
        height: 30px;
      
    }
    }

@media  screen and (max-width: 900px) {
    .sidebarNavigation  {
        height: 250px;
    }
    .sidebar{
        padding: 80px 16px 10px;
    }
    .sidebarNavigationLesson::-webkit-scrollbar{
        width: 5px;
        display: block;
    
    }
 
    #caretDown, #caretUp{
        margin-left: 0;
        display: none;
        }
        
    }

/* @media  screen and (max-width: 800px) { */
    /* .sidebarNavigation  {
        height: 250px;
    } */
    /* .sidebar{
        padding: 80px 16px 10px;
    } */
    /* .sidebarNavigationLesson::-webkit-scrollbar{
        width: 5px; */
        /* display: block; */
    
    /* } */
 
    /* #caretDown, #caretUp{
        margin-left: 0;
        display: none;
        }
        
    } */


/* 

@media  screen and (max-width: 1250px) {
    .sidebar{
        padding: 80px 16px 10px;
    }
}

@media  screen and (max-width: 1100px) {
    .sidebar{
        padding: 70px 16px 10px;
    }
    .sidebarNavigation  {
        height: 200px;
    }
}

@media  screen and (max-width: 1000px) {
    .sidebar{
        padding: 60px 16px 10px;
    }
    .sidebarNavigation  {
        height: 150px;
        margin-top: 0;
    }
}




@media  screen and (max-width: 800px) {
    .sidebar{
        padding: 50px 0 10px 0;

        width: 72px;
        height:100%;
        position:fixed;
    }

    .contactContainerImageProfile img{
        display: flex;
        height: 50px;
    }

    .fa-user-plus  {
        width: 30px;
        height: 30px;
    }

    .sidebarInfoImage{
        width: 30px;
        height: 30px;
    }

    .sidebarInfoName{
        display: block;
        font-size: 12px;
        padding-top: 8px;
    }

    .sidebarNavItem{
        display: flex;
        justify-content: center;
    }

    .sidebarNavLink  {
       
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebarNavLinkText{
        display: none;
    }
    .sidebarNavigation  {
        height: 180px;
        margin-top: 0;
    }
}



@media  screen and (max-width: 700px) {
.sidebarNavigation  {
    height: 150px;
}

}

@media  screen and (max-width: 600px) {
    .sidebar{
        padding: 40px 0 10px 0;

        width: 72px;
        height:100%;
        position:fixed;
    }

    .sidebarNavLink{
        height: 20px;
    }

    .sidebarInfoName{
        padding-bottom: 0;
        padding-top: 4px;
    }
    .sidebarNavigation  {
        height: 110px;
    }
}

@media  screen and (max-width: 500px) {
    .sidebar{
        padding: 30px 0 10px 0;
    }

    .sidebarNavLink{
        height: 18px;
    }
    .sidebarNavigation{
        height: 80px;
      
    }
}



@media  screen and (max-width: 400px) {
    .sidebarNavLink{
        height: 17px;
    }
    .sidebarInfoName{
        font-size: 9px;
      
    }


    .sidebarNavigation{
        height: 40px;

    }
}

@media  screen and (max-width: 300px) {
    .contactContainerImageProfile img{
        height: 30px;
    }
    .sidebarInfoName{
        padding-bottom:1px;
        font-size: 6px;
    }

    .sidebarInfoUser{
        padding: 0;
    }
    
    

    .sidebarNavigation{
        height: 40px;

    }
} */