.main-content-holder{
    display: grid;
    row-gap: 20px;
}

.content-grid-one{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    margin-top: 60px;
    margin-left: 280px;
    margin-right: 50px;
    row-gap: 50px;
}

.content-grid-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
}

.subgrid-two{
    display: grid;
    row-gap:20px;
    height: 100%;
}


.grid-c1{
    display: flex;
    flex-direction: column;
}

.grid-common{
    background:  linear-gradient(90deg,rgba(240, 108, 229, 0.3), rgba(255,255,255,0.9));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    padding: 24x;
    color: blue;
    align-items: center;
    
}

.grid-c-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 14px;
    justify-content: center;
}

.grid-c-title-text{
    font-weight: 600;
    font-size: 20px;
    color: #8e2beb;
    text-align: center;
    align-items: center;
   ;

}


.grid-c1-content{
    padding: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
    color:black;
    font-weight: 600;
    font-size: 15px;
    text-align: center;

}

.loginItemContainer{
    margin: 0;
}

/* .tilePageAdmin{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    margin-top: 55px;
    justify-content: center;
} */


.btn--outline--accept{
    background-color:#8e2beb;
}


.courseLine{
    border: 1px solid  #4803c9;;
    border-radius: 7px;
    padding: 10px;
    text-align: left;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px;
}

.btn--outline--update{
    width: 50px;
}

.spanButtons{
    display: block;
    width: 100%;
    text-align: right;
}

span.errorUpdate{
    color: red;
    font-weight: bold;
    font-size: 12px;
  
}

textarea.updatedText{
    height: 30px;
    width: 300px;
}