.btn {
  padding: 5px 10px;
  border-radius: 2px;
  outline: none; 
  cursor: pointer;
  text-align: center;
  letter-spacing: px;

}

.btn--outline {
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  width: 150px;
  margin-right: 15px;
  border-radius: 10px;
}

.btn--outline:hover {
  transition: all 0.3s ease-out;
  background: #e77a99;
  transition: 250ms;
}

.btn--outline--color {
  height: 44px;
  letter-spacing: 1px;
  background-color: rgb(231, 122, 153);
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  width: auto;
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.18); 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.btn--outline--color:hover{
  transition: all 0.3s ease-out;
  transition: 250ms;
  background-color: #7169D4;
}


.btn--outline--accept, .btn--outline--buy {
  width: 220px;
  height: 32px;
  text-align: center;
  font-size: 0.8rem;
  border: 0.5px solid rgba(255, 255, 255, 0.18); 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  border-radius: 10px ;
  background-color: #7169D4;
  color: white;
  font-weight: bold;
  padding:none;
  letter-spacing: 1px;
  white-space: nowrap;
}


.btn--outline--buy:hover, .btn--outline--accept:hover, .btn--outline--save:hover {
  background: #e77a99;
  border-color: #7169D4;
}


.btn--outline--save{

  text-align: center;
  font-size: 0.6rem;
  border: 0.5px solid rgba(255, 255, 255, 0.18); 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  border-radius: 10px ;
  background-color: #7169D4;
  color: white;
  font-weight: bold;
  padding:none;
  letter-spacing: 1px;
  white-space: nowrap;
  margin-top: 10px;;
}


#more--info--id {
  display: flex;
}
