.btn {
  padding: 5px 10px;
  border-radius: 2px;
  outline: none; 
  cursor: pointer;
  text-align: center;
}

.btn--outline {
  background-color: transparent;
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  width: 150px;
  margin-right: 15px;
  border-radius: 10px;
}

.btn--outline-logout {
  background-color:#e77a99;
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  width: 150px;
  margin-right: 15px;
  border-radius: 10px;
}

.btn--outline-logout:hover{
  transition: all 0.3s ease-out;
  transition: 250ms;
  background-color: #7169D4;
}


.btn--outline:hover {
  transition: all 0.3s ease-out;
  background:  rgb(231, 122, 153);
  transition: 250ms;
}

.btn--outline--color {
  height: 44px;
  letter-spacing: 1px;
  background-color: rgb(231, 122, 153);
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  width: auto;
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.18); 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.btn--outline--color:hover{
  transition: all 0.3s ease-out;
  transition: 250ms;
  background-color: #7169D4;
}


.btn--outline--accept, .btn--outline--buy {
  width: 220px;
  height: 32px;
  text-align: center;
  font-size: 0.8rem;
  border: 0.5px solid rgba(255, 255, 255, 0.18); 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  border-radius: 10px ;
  background-color: #7169D4;
  color: white;
  font-weight: bold;
  padding:0;
  letter-spacing: 1px;
  white-space: nowrap;
}

.btn--outline-update, .btn--outline-delete{
  width: 55px;
  height: 25px;
  text-align: center;
  font-size: 0.7rem;
  border: 0.5px solid rgba(255, 255, 255, 0.18); 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  border-radius: 7px ;
  background-color: #8e2beb;
  color: white;
  font-weight: bold;
  padding:0;
  margin: 3px 5px;
  white-space: nowrap;
  text-align: center;
  align-items: center;

  justify-content: center;
}

.btn--outline-delete{
  background-color: #d33175;;
}

.btn--outline--buy:hover, .btn--outline--accept:hover, .btn--outline--save:hover,
.btn--outline-update:hover, .btn--outline-delete:hover {
  background: #e77a99;
  border-color: #7169D4;
}

.btn--outline--save{

  text-align: center;
  font-size: 0.6rem;
  border: 0.5px solid rgba(255, 255, 255, 0.18); 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
  border-radius: 10px ;
  background-color: #7169D4;
  color: white;
  font-weight: bold;
  padding:0;
  letter-spacing: 1px;
  white-space: nowrap;
  margin-top: 10px;
}


#more--info--id {
  display: flex;
}

@media screen and (max-width: 800px) {
  .btn--outline {
    background-color: #7169D4;
    width: 10rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0px;
    padding: 0.3rem;
    font-size: 1.1rem;
  }

  .btn--outline:hover {
    background:  #e77a99;
  }

  .nav-menu{
    height: 100vh;
  }
}

  @media screen and (max-width: 700px) {
    .btn--outline {
      width: 8.8rem;
      margin-top: 0.45rem;
      margin-bottom: 0.4rem;
      font-size: 0.95rem;
      padding: 0.25rem;
    }
}

@media screen and (max-width: 600px) {
  .btn--outline {
    width: 7.4rem;
    margin-top: 0.35rem;
    margin-bottom: 0.3rem;
    font-size: 0.82rem;
  }
}
  
@media screen and (max-width: 500px) {
  .btn--outline {
    width: 6.5rem;
    margin-top: 0.35rem;
    margin-bottom: 0.3rem;
    font-size: 0.72rem;
    border-radius: 7px;
    border-width: 1.5px;
  }
}

@media screen and (max-width: 400px) {
  .btn--outline {
    width: 5rem;
    margin-top: 0.15rem;
    margin-bottom: 0.1rem;
    font-size: 0.54rem;
    border-radius: 5px;
    border-width: 1px;
    padding: 0.2rem;
  }
}

@media screen and (max-width: 300px) {
  .btn--outline {
    width: 4.2rem;
    margin-top: 0.15rem;
    margin-bottom: 0.1rem;
    font-size: 0.44rem;
    border-radius: 5px;
    border-width: 1px;
    padding: 0.1rem;
  }
    .activeButton{
    margin: -3px;
    }
}