.btn {
  padding: 8px 10px;
  border-radius: 2px;
  outline: none; 
  cursor: pointer;
  color: #000;
  text-align: center;
  letter-spacing: 3px;
}

.btn--outline {
  background-color: transparent;
  border: 2px solid;
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  width: auto;
  margin-right: 15px;
  border-radius: 10px;
}

.btn--outline:hover {
  transition: all 0.3s ease-out;
  background: #d33175;
  transition: 250ms;
}

.btn--outline--color {
  background-color: #d33175;
  border: 2px solid;
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  width: auto;
  border-radius: 10px;
}

.btn--outline--color:hover{
  transition: all 0.3s ease-out;
  transition: 250ms;
  background-color: #7169D4;
}

.btn--outline--buy {
  background-color: #7169D4;
  color: rgba(255, 255, 255, 0.89);
  letter-spacing: 3px;
  white-space: nowrap;
  width: auto;
  font-weight: bold;
  border-radius: 10px;
}


.btn--outline--accept {
  background-color: #7169D4;
  color: rgba(255, 255, 255, 0.89);
  letter-spacing: 3px;
  white-space: nowrap;
  width: auto;
  font-weight: bold;
  border-radius: 10px;
}


.btn--outline--buy:hover, .btn--outline--accept:hover {
  background: #d33175;
  border-color: #7169D4;
}


#more--info--id {
  display: flex;
}
