.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    text-align: center;
    letter-spacing: 3px;
    height: 5.4rem;
    width: 100%;
  }

  .btn--outline {
    justify-content: center;
  }

  .nav-item{
    margin-top:4px;
  }


  .navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 15px;
    max-width: 1200px; 
    min-width: 300px;
  }
  
  .navbar-logo {
    width: 110px; 
    height: 90%;  
    cursor: pointer;
    display: flex;
    top: 0.25rem;
    left: 1rem; 
    position: absolute;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    list-style: none;
    text-align: center;
    width: 65vw;
    justify-content: end;
    align-items: center;
  }
  
  .nav-links {
    color: #000000;
    display:inline; 
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 0.5rem 0.5rem 0.4rem;
    height: 100%;
  }

  .nav-links:hover {
    border-bottom: 2px solid  #000000; 
   }
  
  .fa-bars {
    color:  #000000;   
    font-size: 1.5rem;; 
    margin-top: 1px;
    margin-right: 0px;
  }
   
  .menu-icon {
    display: none;
  }


  a {
    text-decoration: none;
  }
 
  @media screen and (max-width: 1300px) {
    .navbar {
      height: 4.9rem;
      align-items: center;
      position: fixed;
    }

    .navbar-logo {
      width: 100px;   
      cursor: pointer;
      display: flex;
      top: 0.24rem;
      left: 0.89rem; 
      position: absolute;
    }
  }
    
  @media screen and (max-width: 1200px) {
    .navbar {
      height: 4.35rem;
     
    }
    .navbar-logo {
      width: 88px;   
      cursor: pointer;
      display: flex;
      top: 0.18rem;
      left: 0.81rem; 
      position: absolute;
    }
  }

  @media screen and (max-width: 1100px){
    .navbar{
      position: fixed;
    }
  }

  @media screen and (max-width: 1000px) {
    .navbar {
      height: 3.6rem;
    }

    .navbar-logo {
      width: 73px;   
      cursor: pointer;
      display: flex;
      top: 0.16rem;
      left: 0.68rem; 
      position: absolute;
    }
  }

  @media screen and (max-width: 800px) {
    .navbar {
      height: 3.1rem;
      position: fixed;
    }

    .fa-bars { 
      font-size: 1.28rem;; 
      margin-top: 1.8px;
      margin-right: -0.3px;
      display: flex;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;     
      grid-gap:5px;
      position: absolute;
      top: 61px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
      overflow: hidden;
      top: 52px;
    }

    .nav-menu.active {
      background: #4f4f4f;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;     
      display: flow-root;
    }
  
    .nav-links {
      text-align: center;
      padding: 9px ;
      width: 100%;
      display: table;
      color: #fff;
      font-size: 1.3rem;
    }
  
    .nav-links:hover {
      background-color: #e77a99;
      border-radius: 0;
      border: none;
    }
  
    .navbar-logo {
        width: 63px;   
        cursor: pointer;
        display: flex;
        top: 0.12rem;
        left: 0.56rem; 
        position: absolute;
      }

    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-50%, 50%);
      font-size: 1.2rem;
      cursor: pointer;
    }
  
    .fa-times {
      color:  #000000;
      display: block;
      font-size: 31.5px;
      margin-right: 11px;
      margin-top: -2.9px;
      
    }
    }

  @media screen and (max-width: 800px) {
    .navbar {
      height: 2.7rem;
    } 

    .navbar-logo {
      width: 55px;   
      top: 0.12rem;
      left: 0.5rem; 
    }

    .NavbarItems {
      position: relative;
    }

    .nav-menu {
      top: 45px;
      grid-gap:4.8px;
    }

    .nav-links {
      text-align: center;
      padding: 9px ;
      font-size: 1.3rem;     
    }

    .fa-bars { 
      font-size: 1.12rem;; 
      margin-top: 1.7px;
      margin-right: -0.65px;
      display: flex;
    }
  
    .fa-times {
      font-size:  27.5px;
      margin-right: 9.4px;
      margin-top: -2.5px;
    }
  }

  @media screen and (max-width: 700px) {
   
    .nav-links {
      text-align: center;
      padding: 7px ;
      font-size: 1.1rem;     
    }
  }


  @media screen and (max-width: 600px) {
    .navbar {
      height: 2.16rem;
    } 

    .navbar-logo {
      width: 44px;   
      top: 0.1rem;
      left: 0.4rem; 
    }

    .nav-menu {
      top: 36px;
      grid-gap:4.8px;
    }
  

    .nav-links {
      font-size: 0.9rem;
      padding: 4px;
    }

    .fa-bars { 
      font-size: 0.9rem;; 
      margin-top: 1.3px;
      margin-right: -1.2px;
      display: flex;
    }

    .fa-times {
      font-size:  21.8px;
      margin-right: 7px;
      margin-top: -1.5px;
    }
  }

  @media screen and (max-width: 500px) {
    .navbar {
      height: 1.8rem;
    } 

    .navbar-logo {
      width: 36.8px;   
      top: 0.085rem;
      left: 0.325rem; 
    }

    .nav-menu {
      top: 30px;
      grid-gap:4.5px;
    }

    .nav-links {
      font-size: 0.75rem;
      padding: 2px;
    }

    .fa-bars { 
      font-size: 0.75rem;; 
      margin-top: 1.1px;
      margin-right: -1.5px;
      display: flex;
    }

    .fa-times {
      font-size: 18.2px;
      margin-right: 5.35px;
      margin-top: -1.5px;
    }
  }

  @media screen and (max-width: 400px) {
    .navbar {
      height: 1.35rem;
    } 

    .navbar-logo {
      width: 27.7px;   
      top: 0.066rem;
      left: 0.245rem; 
    }

    .nav-menu {
      top: 22px;
      grid-gap:4.5px;
    }


    .nav-links {
      font-size: 0.5rem;
      padding: 1px;
    
    }

    .fa-bars { 
      font-size: 0.56rem;; 
      margin-top: 0.7px;
      margin-right: -1.8px;
      display: flex;
    }

    .fa-times {
      font-size: 13.7px;
      margin-right: 3.3px;
      margin-top: -1px;
    }
  }

  @media screen and (max-width: 300px) {
    .navbar {
      height: 1.08rem;
    } 

    .navbar-logo {
      width: 22px;   
      top: 0.046rem;
      left: 0.20rem; 
    }

    .nav-menu {
      top: 18px;
      grid-gap:4px;
    }
   
    .nav-links {
      font-size: 0.4rem;  
      padding: 0px;
    }

 
    .fa-bars { 
      font-size: 0.45rem;; 
      margin-top: 0.55px;
      margin-right: -2.1px;
      display: flex;
    }

    .fa-times {
      font-size: 11px;
      margin-right: 2px;
      margin-top: -1px;
  
    }
  }


